@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* shared styles */

* {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  padding: 20px 25px;
  cursor: pointer;
}
/* header style */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h3 {
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* banner style */
.banner-content {
  max-width: 862px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner-description {
  color: #727272;
  margin-bottom: 32px;
}
.banner img {
  width: 100%;
  height: 100%;
}
/* responsive styles */

@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
}
@media screen and (min-width: 577px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav {
    flex-direction: column;
  }
}
/* main style */
main {
  max-width: 1440px;
  margin: 0 auto;
}
.teams-container {
  display: flex;
  align-items: center;
}
.teams-title {
  width: 468px;
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
}
.span-one {
  color: var(--Dark-01, #131313);
}
.span-two {
  color: #ff900e;
  font-weight: 700;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 1.5rem;
}
.teams-content {
  padding-right: 70px;
  padding-left: 70px;
}
