@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* shared styles */

* {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  padding: 20px 25px;
  cursor: pointer;
}
/* header style */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-title,
.banner-title {
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* banner style */
.banner-content {
  max-width: 862px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
}
.banner-description {
  color: #727272;
  padding-right: 56px;
}
.banner img {
  width: 100%;
  height: 100%;
}

/* main style */
main,
footer {
  max-width: 1440px;
  margin: 70px auto;
}
.teams-container {
  display: flex;
  align-items: center;
}
.teams-title {
  width: 468px;
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
}
.span-one {
  color: var(--Dark-01, #131313);
}
.span-two {
  color: #ff900e;
  font-weight: 700;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 1.5rem;
}
.teams-content {
  padding-right: 70px;
  padding-left: 70px;
}
/* features style */
.features {
  display: flex;
  margin-top: 130px;
  gap: 100px;
}
.features .section-title {
  padding-left: 20px;
  border-left: 5px;
  border-left: 5px solid #ff900e;
}
.feature-content .card {
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-img img {
  height: 90%;
  margin-left: 90px;
}
.ten-years-badge {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  text-align: center;
  width: 342px;
  padding: 42px;
  position: relative;
  bottom: 100px;
}
.ten-years-badge h2 {
  font-size: 4rem;
  margin: 0px;
}
.ten-years-badge p {
  font-size: 1.5rem;
  margin: 0;
}
/* fact style */
.facts {
  margin-top: 100px;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px 30px;
}
.facts-card-container .card-stats {
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}
.facts-card-container .card-title {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
  margin-top: 5px;
}
/* sponsors style */
.sponsors {
  text-align: center;
  margin-top: 100px;
}
.sponsors-img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  gap: 40px;
}
.sponsors-img-container img {
  width: 165px;
  height: 50px;
}

/* footer style */

.copy {
  color: #424242;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  border-radius: 8px;
  background: #fff4e7;
  padding: 39px;
}

/* responsive styles */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsors-img-container,
  .features {
    flex-direction: column;
  }
  .feature-img img {
    width: 100%;
    margin-left: 0px;
  }

  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-content {
    padding-left: 120px;
    padding-right: 20px;
  }
  .facts-card-container {
    gap: 20px;
  }
}
@media screen and (min-width: 577px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,
  .teams-container,
  .sponsors-img-container,
  .features {
    flex-direction: column;
  }
}
